/* provide some swag */

.oi {
    cursor: pointer;
}

.repo {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid #D1D1D1;
}

.fav-repo {
    background-color: #ffffeb;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid #D1D1D1;
}
